@model MP3.Models.Songs

<div class="title">Bình luận</div>
<div class="new-comment clearfix">
    @if (ViewBag.CurrentUser != null)
    {
        using (Html.BeginForm())
        {
        <div class="comment-details">

            <div class="avatar">
                @{Html.RenderPartial("~/Views/Shared/_AvatarDisplay.cshtml", (MP3.Models.UserProfile)ViewBag.CurrentUser, new ViewDataDictionary());}
            </div>
            <div class="details">
                <div class="content">
                    @Html.TextArea("cmtContent")
                </div>
            </div>
        </div>
        <div class="submit">
            <input type="submit" name="submit" value="Đăng bình luận" />
        </div>
        }
    }
    else
    {
        <div class="need-login">Bạn cần @Html.ActionLink("đăng nhập", "Login", "Account") để đăng bình luận!</div>
    }
</div>

@Scripts.Render("~/Content/js/song-comment.js")
